<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://bdsnet.local/bds-tv"
        version="0.1.0"
        viewmodes="maximized">
  <tizen:application id="bdstv.shell" package="bdstv" required_version="3.0" />
  <tizen:profile name="tv-samsung" />
  <tizen:privilege name="http://tizen.org/privilege/internet" />
  <access origin="*" subdomains="true" />
  <content src="index.html" />
  <icon src="icon.png" />
  <name>bds-tv</name>
  <description>bds-tv hosted TV shell</description>
</widget>
